* {
    margin: 0;
    padding: 0;
    /* c3盒子模型 */
    box-sizing: border-box;
}
::-webkit-scrollbar{
    display: none;
}
body {
    margin: 0 auto;
    font-size: 14px;
    color: #000;
    position: relative;
}

.clearfix:after{/*伪元素是行内元素 正常浏览器清除浮动方法*/
    content: "";
    display: block;
    height: 0;
    clear:both;
    visibility: hidden;
}
.clearfix{
    *zoom: 1;/*ie6清除浮动的方式 *号只有IE6-IE7执行，其他浏览器不执行*/
}
img{
    border: none;
}
a {
    cursor: pointer;
    color: #000;
    text-decoration: none;
    outline: none;
}
ul {
    list-style-type: none;
}
/* 去除列表前面的点 */
li {
    list-style: none;
}
.nav li:nth-child(2) a{
    color: bisque;
}
em { 
    font-style: normal;
}
/* 导航条 */
header {
    background-color: #000;
    height: 50px;
}
.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.nav li {
    float: left;
    padding-left: 50px;
    padding-right: 50px;
}

.nav li a {
    color: white;
    font-size: 25px;
    line-height: 50px;
}
/* 鼠标经过变色 */
.nav li a:hover {
    color: bisque;
}
.title h2 {
    text-align: center;
}

main{
    width: 100vw;
    height: auto;
}
section{
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}
.content{
    width: 45vw;
    height: 30vh;
    border: 2px solid #e4e4e4;
    border-radius: 5px;
    background-color: rgba(247, 247, 247, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 5vh;
    text-shadow: 1px 1px 1px #000;
    position: absolute;
    top: 60vh;
    left: 15vw;
    padding: 25px;
    box-sizing: border-box;
}
#img2 .content{
    top: 40vh;
    left: 2vw;
}
#img3 .content{
    top: 55vh;
    left: 40vw;
}
#img4 .content{
    top: 35vh;
    left: 25vw;
}
#img1{
    background-image: url(../img/人物集（1）.jpg);
}
#img2{
    background-image: url(../img/人物集（2）.jpg);
}
#img3{
    background-image: url(../img/人物集（3）.jpg);
}
#img4{
    background-image: url(../img/人物集（4）.jpg);
}